/*
 * Styles for demo page at Github Pages
 */


// config
$max-width: 700px;

// breakpoints use: @include breakpoint(xs);
$breakpoint-small: 767px;
$breakpoint-medium: 768px;
$breakpoint-large: 960px;

// colors
$color-accent-light: #FF6B00;
$color-accent-dark: #00599E;
$color-text-accent: #f1f1f1;

// initialize configuration
$initialize-block-margins: 0 0 0.75em;
$initialize-color: #525252;
$initialize-heading-color: $color-accent-dark;
$initialize-heading-font-family: 'Lato', sans-serif;
$initialize-heading-margins: 1em 0 0.5em;

// import dependencies
@import "initialize-css/dist/initialize";
@import "helpers/breakpoints";

// extends
%wrapper {
    padding: 0 2em;
    margin: 0 auto;
    max-width: $max-width;
    position: relative;
}

// demo page styling
body {
    background: #eee;
}

a {
    color: $color-accent-light;

    &:hover {
        color: $color-accent-dark;
    }
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

h1, h2 {
    color: $color-accent-light;
    font-family: 'Roboto Slab', serif;
}

h2 {
    font-size: 1.8em;
}

.browserupgrade {
    background: #f1c40f;
    color: #000000;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;

    a {
        color: inherit;
    }
}

.header {
    margin: 2em 0;

    &-wrapper {
        @extend %wrapper;
        display: flex;
        justify-content: center;

        @include breakpoint(sm) {
            flex-wrap: wrap;
        }

        .header-image {
            border-radius: 50%;
            height: 125px;
            margin-right: 2em;
            overflow: hidden;
            width: 125px;

            img {
                height: auto;
                width: 100%;
            }
        }
    }

    &-links {        
        a {
            margin-right: 1em;
        }
    }

    a {
        color: $color-accent-dark;
        text-decoration: none;
    }

    h1 {
        font-size: 2em;
        margin-top: 0;
    }
}

.main {
    @extend %wrapper;
    padding-top: 1em;
    margin-bottom: 6em;

    section {
        background: white;
        border-radius: 1em;
        padding: 1em 2em;
    }

    .project {
        margin-bottom: 2em;
    }

    .button {
        background: transparent;
        border: 1px solid $color-accent-dark;
        border-radius: 0.3em;
        color: $color-accent-dark;
        display: inline-block;
        margin-right: 1em;
        padding: 0.3em;
        text-decoration: none;
        text-align: center;
        
        width: 10em;

        &:hover {
            background: darken($color-accent-dark, 10);
            color: white;
        }
    }
}

.footer {
    background: darken($color-accent-dark, 20);
    color: $color-text-accent;
    padding: 2em 0;

    &-wrapper {
        @extend %wrapper;
    }

    a {
        color: $color-text-accent;
    }
}
